# R / RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Hugo
/public/
/resources/
.hugo_build.lock

# Sistema
.DS_Store
Thumbs.db
.directory

# Blogdown
/blogdown/

# MEGA (si usas MEGA para sincronizar)
# .megaignore        ← déjalo si lo necesitas